.up {
    opacity: 1;
    animation-name: up;
    animation-duration: 1.5s;
}

@keyframes up {
    from {
        opacity: 0.2;
        padding-top: 100%;
        font-size: small;
    }
    to {
        opacity: .4;
        padding-top: 0%;
        font-size: 650%;
        padding-right: 11.5%;
    }
}

.slide.right {
    opacity: 0;
    animation-name: slideR;
    animation-duration: 1.5s;
}

@keyframes slideR {
    from {
        padding-right: 100%;
        font-size: small;
        opacity: .2;
        transform: rotate(0deg);
    }
    to {
        padding-right: 0%;
        font-size: 650%;
        opacity: .4;
        padding-right: 11.5%;
        transform: rotate(-360deg);
    }
}

.slide.left {
    opacity: 0;
    animation-name: slideL;
    animation-duration: 1.5s;
}

@keyframes slideL {
    from {
        padding-left: 100%;
        font-size: small;
        opacity: .2;
        transform: rotate(0deg);
    }
    to {
        padding-left: 0%;
        font-size: 650%;
        opacity: 0.4;
        padding-right: 11.5%;
        transform: rotate(360deg);
    }
}

.slide.LR {
    opacity: 0;
    animation-name: slideLR;
    animation-duration: 1.5s;
}

@keyframes slideLR {
    from {
        padding-left: 100%;
        padding-right: 0%;
        padding-top: 50%;
        font-size: small;
        opacity: .2;
        transform: rotate(0deg);
    }
    to {
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
        font-size: 650%;
        opacity: 0.4;
        padding-right: 11.5%;
        transform: rotate(-360deg);
    }
}

.slide.RL {
    opacity: 0;
    animation-name: slideRL;
    animation-duration: 1.5s;
}

@keyframes slideRL {
    from {
        padding-left: 0%;
        padding-right: 100%;
        padding-top: 50%;
        font-size: small;
        opacity: .2;
        transform: rotate(0deg);
    }
    to {
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 0%;
        font-size: 650%;
        opacity: 0.4;
        padding-right: 11.5%;
        transform: rotate(360deg)
    }
}

.popup {
    animation-duration: 6.8s;
    animation-name: pop;
    opacity: 1;
}

@keyframes pop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    cursor: url(DEFYNEW.cur), auto;
  }
  
  button:before {
    content: "";
    background: linear-gradient(
        45deg,
        rgb(39, 33, 33),
        #070705,
        #6a7264,
        #98a397,
        #7faf9f,
        #6e7d83,
        #6f8ddf,
        #d49ceb,
        #f2cef3,
        #f0b2e2,
        #534d51
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    ;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
  
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes epic {
    from {
        width: 20px;
    }
    to {
        width: 100px
    }
}


@keyframes changeBack {
    0% {
      background-color:#d49ceb;
    }
    10% {
        background-color:blueviolet;
    }
    20% {
        background-color:darkcyan;
    }
    30% {
        background-color:coral;
    }
    40% {
        background-color:aquamarine;
    }
    50% {
        background-color:#f2cef3;
    }
    60% {
        background-color:darkslateblue;
    }
    70% {
        background-color:darkorchid;
    }
    80% {
        background-color:darkgoldenrod;
    }
    90% {
        background-color:antiquewhite;
    }
    100% {
        background-color:#f0b2e2;
    }
    
  }

  @keyframes trans {
    0% {
        width: 100px;
        height: 85px;
    }
    100% {
        opacity: 1;
        width: 115px;
        height: 110px
    }
}